#products{
    display: flex;
    flex-direction: row;
    padding: 25px;
}

#products mat-card{
    margin: 25px;
}

#card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
